In [1]:
!apt-get update -qq
!apt-get install openjdk-11-jdk-headless -qq
!wget -q https://archive.apache.org/dist/spark/spark-3.4.0/spark-3.4.0-bin-hadoop3.tgz
!tar xf spark-3.4.0-bin-hadoop3.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.0-bin-hadoop3"

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
^C

gzip: stdin: unexpected end of file
tar: Unexpected EOF in archive
tar: Unexpected EOF in archive
tar: Error is not recoverable: exiting now

In [ ]:

# Import SparkSession
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("test") \
      .getOrCreate()

In [ ]:

data = [
  ('James','','Smith','1991-04-01',3000),
  ('Michael','Rose','','2000-05-19',4000),
  ('Robert','','Williams','1978-09-05',4000),
  ('Maria','Anne','Jones','1967-12-01',4000),
  ('Jen','Mary','Brown','1980-02-17',-1)
]

columns = ["firstname","middlename","lastname","dob","salary"]

In [ ]:
df = spark.createDataFrame(data=data, schema = columns)

df.show()